This week we will be looking at Enterococcus levels in the Hudson River, using data from the organiation Riverkeeper (http://www.riverkeeper.org/).

Background: Enterococcus is a fecal indicating bacteria that lives in the intestines of humans and other warm-blooded animals. Enterococcus (“Entero”) counts are useful as a water quality indicator due to their abundance in human sewage, correlation with many human pathogens and low abundance in sewage free environments. The United States Environmental Protection Agency (EPA) reports Entero counts as colonies (or cells) per 100 ml of water.
Riverkeeper has based its assessment of acceptable water quality on the 2012 Federal Recreational Water Quality Criteria from the US EPA. Unacceptable water is based on an illness rate of 32 per 1000 swimmers.
The federal standard for unacceptable water quality is a single sample value of greater than 110 Enterococcus/100mL, or five or more samples with a geometric mean (a weighted average) greater than 30 Enterococcus/100mL.
Data: I have provided the data on our github page, in the folder https://github.com/jlaurito/CUNY_IS608/blob/master/lecture4/data. I have not cleaned it – you need to do so.

This assignment must be done in python. It must be done using the ‘bokeh’, 'seaborn', or 'pandas' package. You may turn in either a .py file or an ipython notebook file.

Questions:

1. Create lists & graphs of the best and worst places to swim in the dataset.

2. The testing of water quality can be sporadic. Which sites have been tested most regularly? Which ones have long gaps between tests? Pick out 5-10 sites and visually compare how regularly their water quality is tested.

3. Is there a relationship between the amount of rain and water quality?  Show this relationship graphically. If you can, estimate the effect of rain on quality at different sites and create a visualization to compare them.

In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame.from_csv('https://raw.githubusercontent.com/jlaurito/CUNY_IS608/master/lecture4/data/riverkeeper_data_2013.csv')

In [6]:
df.head(1)

,Date,EnteroCount,FourDayRainTotal,SampleCount
Site,,,,
Hudson above Mohawk River,10/16/2011,1733,1.5,35

In [9]:
x = pd.DataFrame(df['EnteroCount'].value_counts())
x.sort_values('EnteroCount', ascending = False).head(100)

        EnteroCount
<10             528
10              289
20              148
2                83
4                78
1                77
3                77
31               65
41               64
6                64
5                63
11               59
>2420            59
12               50
7                47
<1               44
9                41
30               39
8                39
16               35
13               35
15               30
19               30
17               28
52               26
21               25
63               24
22               23
1500             22
>24196           20
...             ...
43                7
62                6
770               6
56                6
73                6
59                6
46                6
345               6
1414              6
96                6
64                6
921               6
488               6
67                6
238               6
1046              6
97                6
816               6
326               6
48                6
76                6
1203              5
179               5
47                5
147               5
231               5
122               5
613               5
49                5
93                5

[100 rows x 1 columns]